.txtarea-list {
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
}

.txtarea {
    flex: 1;
    display: inline-block;
    margin: 0 0px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.header {
    z-index: 10;
    height: 50px;
    top: 300px;
    background-color: rgb(16, 241, 222);
    width: 100%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 0px;
}

.header-ul {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 20;
}

.header-li {
    display: inline-block;
    padding: 26px 10px 20px 10px;
}

textarea {
    resize: none;
    width: calc(100% - 10px);
    height: 100%;
}

.btn-container {
    display: flex;
    text-align: center;
    height: 50px;
}

button {
    width: 80%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px
}

button:hover {
    opacity: 0.7;
}